//@import "./main.module";

$color-primary: #1c283dab;
$color-bg-primary: rgba(204, 123, 85, 0.479);
$color-bg-secondary: rgb(168, 137, 118);
$color-secondary: black;
$color-white: #fff;
$color-black: black;
$color-logo: $color-white;

//fonts
$font-primary: Verdana, Geneva, Tahoma, sans-serif;
