@use "../abstract/mixins";
@use "../abstract/variables";

.noContent {
  width: 100vw;
  background-color: variables.$color-secondary;
  @include mixins.fontPrimary;
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 3rem;
  //margin: 2rem;
}
