$color-primary: #6495ed;
$color-bg-primary: rgba(204, 123, 85, 0.479);
$color-bg-secondary: rgb(31, 15, 5);
$color-secondary: #777;
$color-white: #fff;
$color-black: black;
$color-logo: $color-white;

//fonts
$font-primary: Arial, Helvetica, sans-serif;

//variabble for media queries
$break-small: 400px;
$break-medium: 800px;
$break-large: 1200px;
